a{
    text-decoration: none;
    color: white;
}

header, footer{
    color: white;
}


#jumbo img{
    width: 15rem;
}

#jumbo{
    margin-top: 80px;
}

.div-line{
    background-color: white;
    width: 10rem;
    height: 0.3rem;
    border-radius: 10px;

}

/* COLOR */
.bg-header{background-color: #2C3E50;}
.bg-acqua {background-color: #1ABC9C;}
.bg-white {background-color: white;}
.bg-black {background-color: black;}